.primero{color: black;}
h5{color: black;
}
.colorbotnnegroGB{
	background-color: black;
}
h2{font-family: 'Nanum Gothic', sans-serif;}
p{font-family: 'Nanum Gothic', sans-serif;
font-family: 'Trispace', sans-serif;}