.primero{color: black;}
h5{color: black;
}
.colorbotnnegroGB{
	background-color: black;
}
p{font-family: 'Nanum Gothic', sans-serif;
font-family: 'Trispace', sans-serif;}
h2{
	font-family: 'Lobster', cursive;
}

